.vscode
!.gitignore
shell-00/*
!/shell-00/evaluation.sh
shell-01/*
!/shell-01/evaluation.sh
c-00/*
!/c-00/evaluation/
!/c-00/evaluation.sh
c-01/*
!/c-01/evaluation/
!/c-01/evaluation.sh
c-02/*
!/c-02/evaluation/
!/c-02/evaluation.sh
c-03/*
!/c-03/evaluation/
!/c-03/evaluation.sh
c-04/*
!/c-04/evaluation/
!/c-04/evaluation.sh
c-05/*
!/c-05/evaluation/
!/c-05/evaluation.sh
c-06/*
!/c-06/evaluation/
!/c-06/evaluation.sh
c-07/*
!/c-07/evaluation/
!/c-07/evaluation.sh
c-08/*
!/c-08/evaluation/
!/c-08/evaluation.sh
c-09/*
!/c-09/evaluation/
!/c-09/evaluation.sh
c-10/*
!/c-10/evaluation/
!/c-10/evaluation.sh
c-11/*
!/c-11/evaluation/
!/c-11/evaluation.sh
c-12/*
!/c-12/evaluation/
!/c-12/evaluation.sh
c-13/*
!/c-13/evaluation/
!/c-13/evaluation.sh

